@import 'assets/scss/app';

.tr-col {
  width: 100%;
  margin: auto;

  @include media-sm-up {
    margin: 0;
  }

  @include media-md-up {
    flex: 0 0 $col-width;
    padding-right: 60px;
  }

  &__header {
    font-size: 24px;
    text-transform: capitalize;
    margin-bottom: 20px;
    font-weight: bold;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}
