@import 'assets/scss/app';

.app-sidebar {
  display: block;
  bottom: 0;
  flex: 0 0 $aside-menu-width;
  left: 0;
  max-height: 100vh;
  max-width: $aside-menu-width;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 520;

  &__title {
    font-size: 30px;
    margin-bottom: 16px;
  }
}
