$media-xs: 360px;
$media-sm: 576px;
$media-md: 992px;
$media-lg: 1200px;
$media-xl: 1600px;
$media-xxl: 2000px;

$container-width: 1300px;

$aside-menu-width: 260px;

$base-font-family:
  'PT Sans',
  -apple-system,
  'BlinkMacSystemFont',
  'Segoe UI',
  'Roboto',
  'Helvetica Neue',
  arial,
  'Noto Sans',
  sans-serif;
