@import '../mixins/media';

.slide-y-up-leave-active,
.slide-y-up-enter-active {
  transition: all 0.2s;
}

.slide-y-up-enter-from,
.slide-y-up-leave-to {
  opacity: 0;
  transform: translateY(-20px);
}

.slide-y-down-leave-active,
.slide-y-down-enter-active {
  transition: all 0.2s;
}

.slide-y-down-enter-from,
.slide-y-down-leave-to {
  opacity: 0;
  transform: translateY(10px);
}

.slide-x-left-leave-active,
.slide-x-left-enter-active {
  transition: all 0.3s;
}

.slide-x-left-enter-from,
.slide-x-left-leave-to {
  opacity: 0;
  transform: translateX(-100%);
}

.slide-x-right-leave-active,
.slide-x-right-enter-active {
  transition: all 0.3s;
}

.slide-x-right-enter-from,
.slide-x-right-leave-to {
  opacity: 0;
  transform: translateX(-100%);
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.dropdown-fade-enter-active,
.dropdown-fade-leave-active {
  transition:
    opacity 0.15s,
    margin-top 0.2s;
}

.dropdown-fade-enter-from,
.dropdown-fade-leave-to {
  opacity: 0;
  margin-top: -6px;
}

.loader-transition-leave-active,
.loader-transition-enter-active {
  transition-delay: 0.3s;
  transition:
    opacity 0.2s,
    transform 0.2s;
  transition-timing-function: cubic-bezier(0.68, 0, 0.45, 1);
}

.loader-transition-enter-from {
  transition-delay: 0.3s;
}

.loader-transition-enter-from,
.loader-transition-leave-to {
  opacity: 0;
  transform: scale(0.8);
}

.soft-fade-leave-active,
.soft-fade-enter-active {
  transition:
    opacity 0.2s,
    transform 0.2s;
  transition-timing-function: cubic-bezier(0.68, 0, 0.45, 1);
}

.soft-fade-enter-from,
.soft-fade-leave-to {
  opacity: 0;
  transform: scale(0.97);
}
