@import 'assets/scss/app';

.tr-task {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;
  max-width: 250px;
  min-width: 200px;
  min-height: 160px;
  border-radius: 12px;
  box-shadow: 0 0 24px 0 rgba(34, 60, 80, 0.2);
  cursor: pointer;

  @include media-sm-up {
    padding: 24px 28px;
  }

  &__title {
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
  }

  &__content {
    max-width: 280px;
    text-wrap: balance;
    font-size: 16px;
  }
}
