.tr-col {
  min-width: 250px;

  &__header {
    text-transform: capitalize;
    margin-bottom: 12px;
    font-weight: bold;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}
