@import 'assets/scss/app';

.main-page {
  @include media-md-up {
    display: flex;
    gap: 20px;
    padding: 0 24px;
  }

  @include media-xl-up {
    padding: 0;
  }

  &__prepend {
    flex: 0 0 260px;
  }

  &__content {
    margin: 0 24px;

    @include media-md-up {
      overflow: hidden;
    }
  }

  &__sidebar {
    @include hidden-md-down;
  }

  &__content-sidebar {
    display: flex;

    @include media-md-up {
      display: none;
    }
  }

  &__button-menu {
    position: fixed;
    top: 26px;
    left: auto;
    right: 20px;
    margin-bottom: 12px;
    width: 24px !important;
    height: 48px !important;

    @include media-xl-up {
      right: auto;
      left: 20px;
    }
  }
}
