@import 'assets/scss/app';

.main-page {
  @include media-md-up {
    display: flex;
    gap: 20px;
    padding: 0 24px;
  }

  @include media-xl-up {
    padding: 0;
  }

  &__prepend {
    flex: 0 0 260px;
  }

  &__content {
    margin: 0 24px;

    @include media-md-up {
      overflow: hidden;
    }
  }

  &__sidebar {
    @include hidden-md-down;
  }

  &__content-sidebar {
    display: flex;

    @include media-md-up {
      display: none;
    }
  }

  &__button-menu {
    position: fixed;
    top: 26px;
    left: auto;
    right: 20px;
    margin-bottom: 12px;
    width: 24px !important;
    height: 48px !important;

    @include media-xl-up {
      right: auto;
      left: 20px;
    }
  }

  &__sidebar-button {
    width: 100%;
    height: 46px;
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 14px;
    font-size: 18px;
    background: transparent;
    border: 0;
    cursor: pointer;
    border-radius: 6px;
    font-weight: 600;
    color: #fff;

    &:hover {
      background: #3b3b41;
      color: #7677c2;
    }
  }

  &__tasks {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;

    @include media-sm-up {
      flex-wrap: wrap;
      flex-direction: row;
    }

    @include media-md-up {
      flex-wrap: nowrap;
      overflow: auto;
      margin: 0 24px;
      padding-left: 20px;
      padding-bottom: 20px;
    }

    @include media-lg-up {
      margin: 0;
    }

    &::-webkit-scrollbar {
      width: 5px;
      height: 8px;
      background-color: rgba(26, 24, 47, 0.15);
      border-radius: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background: #2d2d2d;
      border-radius: 8px;
    }
  }

  &__tasks-empty {
    color: #736d6d;
  }
}
