@import 'assets/scss/app';

.app-sidebar {
  &__button {
    width: 87%;
    height: 24px;
    transition: 0.3s ease;
  }

  &__auth {
    max-width: 240px;
    padding-left: 12px;
    font-size: 16px;
    color: #4f4f5e;
    font-weight: 400;
  }
}
