@import 'assets/scss/app';

.app-sidebar {
  &__button {
    width: 97%;
    height: 46px;
    transition: 0.3s ease;

    &:hover {
      @include generate-box-shadow;
    }

    @include media-sm-down {
      padding: 8px;
    }
  }
}

.p-sidebar {
  padding: 14px;
  background: $color-white;
  color: $color-black;
  border-color: rgb(105, 103, 103);
  font-weight: 600;
  font-size: 22px;

  &-header {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    margin-bottom: 12px;
  }

  &-mask {
    width: 100vw;
    height: 100%;
    background-color: rgba(36, 36, 64, 0.4);
  }

  &-close {
    width: 40px;
    height: 40px;
  }
}
